<% include ./partials/header.ejs  %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome!</h1>
    <% if(message.length > 0) { %>
      <div class="alert alert-success">
      <%= message %>
      </div>
      <% } %>
    <button type="button" name="btn btn-default btn-primary">Add property</button>
    <a href="/logout">Logout</a>
  </div>
</div>

<% include ./partials/footer.ejs  %>
