<% include ./partials/header.ejs  %>

<div class="container-fluid">
  <div class="row">
    <a href="/logout">Logout</a>
  </div>
  <h1>Welcome!</h1>
  <% if(message.length > 0) { %>
    <div class="alert alert-success">
    <%= message %>
    </div>
  <% } %>
</div>

<% include ./partials/footer.ejs  %>
